%flexBox{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

%flexOne{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

%borderBox{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

%oneLine{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

$line: 1;
@mixin mutiLine($line){
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
	text-overflow: ellipsis;
	overflow: hidden;
}